@media screen and (max-width: 1400px) {

    .swiper-historico {
        height: 1010px; 
    }

    .img-historico {
        width: 680px;
        height: 550px;     
    }

    .img-projeto {
        width: 800px;
        height: 550px;
    }


    .servicos-disposicao {
        height: 75%;
    }

 
    #clientes h1 {
        font-size: 30px;
        margin: 0 0 20px 100px;
        min-width: 420px;
    }

    #logos img {
        width: 150px;
    }

    #nosso-time {
        padding: 30px;  
    }

 
    .perfil {
        padding: 20px;
        margin: 100px 20px 0px;
        max-width: 550px;
        width: auto;
    }

   
    #Copyright {
        margin-bottom: 0;
    }

    [data-anime="nosso-time"] {
        transition: .8s;
    }

}