@media screen and (max-width: 768px) {
    header>nav>a {
        display: flex;
        flex-flow: column wrap;
    }
}

@media screen and (min-width: 992px) {

    header>img {
        margin-left: 10vw;
    }

    header>nav {
        display: block;
        display: flex;
        margin-right: 10vw;
        background-color: white;
        width: auto;
    }

    header>nav>a {
        text-decoration: none;
        padding: 10px;
        transition-duration: 0.5s;
    }

    #burguer {
        display: none;
    }

    #quem-somos {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        align-items: center;
    }

    #quem-somos>h1 {
        width: 340px;
        margin-right: 35vw;
        font-size: 40px;
    }

    #quem-somos>p {
        margin: 0 100px;
    }

    /* slide de serviços */
    .swiper {
        /*section*/
        width: 75vw;
        padding: 30px 50px;
    }

    .swiper-slide {
        /*conteudo servicos a disposicao*/
        font-size: 18px;
        height: auto;
        padding: 10px 0;
        height: auto;
        background-color: #f5ede1d8;
        ;
    }

    .swiper-slide:active {
        cursor: grabbing;
    }

    .swiper-slide>h3 {
        padding: 20px 20px;
        text-align: center;
    }

    .swiper-slide>li {
        text-indent: 20px;
        padding: 0 20px 10px;
        text-align: justify;
    }

    /* slide de serviços fim */

    #slider {
        width: 100vw;
        height: 35vw;
    }

    #nosso-time {
        min-height: 1000px;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 0px;
        padding: 30px;
        background-position: right;
        /*escolher entre left e right*/
    }

    #nosso-time>h1 {
        margin-right: 75vw;
        /*    corrigir*/
        padding-bottom: 0;

    }

    .perfil {
        padding: 20px;
        margin: 60px;
        max-width: 600px;
        width: auto;
        background-color: rgba(255, 255, 255, 0.192);
        color: rgba(235, 29, 29, 0);
        border-radius: 50px;
    }

    .perfil>h2 {
        padding-left: 0;
    }

    footer {
        margin-top: 360px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        /* corrigir aqui o resto do conteudo*/
        align-items: normal;
    }

    #logo-footer {
        border-right: 2px solid var(--cor4);
    }

}