@media screen and (max-width: 768px) {
    header>nav>a {
        display: flex;
        flex-flow: column wrap;
    }
}

@media screen and (min-width: 992px) {

    header>img {
        margin-left: 10vw;
    }

    header>nav {
        display: block;
        display: flex;
        margin-right: 10vw;
        background-color: white;
        width: auto;
    }

    header>nav>a {
        text-decoration: none;
        padding: 10px;
        transition-duration: 0.5s;
    }

    #burguer {
        display: none;
    }

    #slider {
        width: 100vw;
        height: 90vh;
    }

    #fundo-quem-somos {
        background: linear-gradient(to right, #738754, #09372D, #09372D, #09372D, #738754);
    }

    #quem-somos {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 30px 0 150px;
    }

    #quem-somos>h1 {
        width: 310px;
        margin-right: 30vw;
        font-size: 40px;
        text-indent: 0;
    }

    .p-quem-somos {
        color: var(--cor2);
        font-size: 22px;
    }

    #div1 {
        display: flex;
        max-width: 1280px;
        margin: 50px 0 100px;
    }

    #div1>img {
        margin-top: 40px;
        width: 600px;
        height: 400px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        border-radius: 80px 0;
    }

    #div1>p {
        padding: 30px 0 0 50px;
        width: 680px;
    }

    #div2 {
        display: flex;
    }

    #div2>img {
        height: 400px;
        width: 600px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
        border-radius: 80px 0;
    }

    #div2>p {
        padding: 35px 50px 0 0;
    }

    /* slide de serviços */
    .swiper {
        /*section*/
        width: 75vw;
        padding: 30px 50px;
        margin-bottom: 70px;
    }

    .swiper-slide {
        /*conteudo servicos a disposicao*/
        font-size: 18px;
        height: auto;
        padding: 10px 0;
        height: auto;
        background-color: #f5ede1d8;
        ;
    }

    .swiper-slide:active {
        cursor: grabbing;
    }

    .swiper-slide>h3 {
        padding: 20px 20px;
        text-align: center;
    }

    .swiper-slide>li {
        text-indent: 20px;
        padding: 0 20px 10px;
        text-align: justify;
    }

    /* slide de serviços fim */


    #nosso-time {
        min-height: 1000px;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 0px;
        padding: 30px;
        background-position: right;
        /*escolher entre left e right*/
    }

    #nosso-time>h1 {
        margin-right: 75vw;
        /*    corrigir*/
        padding-bottom: 0;

    }

    .perfil {
        padding: 20px;
        margin: 60px;
        max-width: 600px;
        width: auto;
        color: rgba(235, 29, 29, 0);
        border-radius: 50px;
    }

    .perfil>h2 {
        padding-left: 0;
    }

    footer {
        margin-top: 360px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        /* corrigir aqui o resto do conteudo*/
        align-items: normal;
    }


}