@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Raleway",sans-serif;
font-optical-sizing: auto;
font-weight: 500; 
font-style: normal;
*/

:root {
    --cor0: #023138;
    --cor1: #FEF9A5;
    --cor2: #BCA15D;
    --cor3: #C58C33;
    --cor4: #F5EDE1;

}

* {
    margin: 0px;
    padding: 0px;
    color: var(--cor0);
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: var(--cor0);
    overflow-x: hidden;
}

p,
li {
    text-indent: 30px;
    text-align: justify;
    padding: 0 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em;
}

h1,
h2 {
    text-indent: 30px;
    padding: 30px 0 30px 30px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
}

i#burguer {
    background-color: rgba(0, 0, 0, 0.068);
    color: var(--cor0);
    display: block;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

i#burguer>img {
    height: 25px;
    width: 25px;
    padding: 4px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* position: sticky;  menu fixo no top */
    top: 0;
    padding: 10px 10px;
    width: 95vw;
}

header>img {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 45px;
    width: 240px;
    padding-left: 2px;
    margin-right: 10px;
    border-left: 1px solid var(--cor0);
}

header>#itens {
    display: none;
}

header>#itens>a {
    display: block;
    display: flex;
    flex-flow: column wrap;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.027);
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    border-radius: 15px;
    padding: 12px;
    transition-duration: 0.3s;
    font-family: "Raleway", sans-serif;

}

#itens>a:hover {
    background-color: var(--cor0);
    color: var(--cor2);
    border-radius: 10px;
}

.swiper-historico {
    display: none;
}

/* slide mobile inicio */
.swiper-mobile {
    width: 100%;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slide-mobile {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../imagens/fundos/07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide-mobile>h1 {
    min-width: 350px;
    padding: 30px 0 10px;
    text-indent: 0;
    color: white;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
}

.slide-mobile>h3 {
    color: white;
    text-indent: 30px;
    width: 350px;
    text-align: justify;
    margin: 10px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    font-size: 18px;
}

.slide-mobile>p {
    margin-top: 5px;
    font-size: 14px;
    text-indent: 0;
}

.img-slide-mobile {
    width: 350px;
    height: 393px;
    border-radius: 8px;
}

#img-reforma-fachada-depois {
    height: 380px; 
    margin-bottom: 10px;
}

.projeto-img {
    width: 350px;
    height: 426px;
}

.img-autocad {
    width: 350px;
    height: 269px;
}

#slide-mobile-capa {
    background-image: url(../imagens/historico\ servico/capa-editada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#slide-mobile-capa>h1 {
    color: white;
    padding: 30px 0 5px;
    text-indent: 0px;
    margin: 5px 0px 0px;
    min-width: 360px;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
}

#slide-mobile-capa>div>p {
    text-indent: 30px;
    text-align: justify;
    width: 350px;
    font-weight: 550;
    font-size: 18px;
    padding: 5px 10px;
}

#img-logo-capa-mobile {
    width: 350px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* slide mobile final */



#fundo-quem-somos {
    width: 100vw;
    background-color: #09372D;
    /*era var 0 */
    display: flex;
    flex-flow: column;
    align-items: center;
}

#quem-somos {
    max-width: 1280px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding-bottom: 20px;
}


#quem-somos>h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 40px 0 0px 30px;
    color: var(--cor2);
    border-bottom: 3px solid var(--cor2);
    min-width: 280px;

}

.p-quem-somos {
    color: var(--cor2);
    font-size: 20px;
}

#div1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1280px;
    margin: 0;
}

#div1>img {
    display: none;
}

#div1>#logo-quem-somos {
    display: block;
    box-shadow: none;
    margin-top: 40px;
    width: 300px;
    height: 200px;
}

#div1>p {
    padding: 20px 40px 10px;
}

#div2 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#div2>img {
    display: none;

}

#div2>p {
    padding: 10px 40px 40px;
}

/* slide de serviços */
#h1-servicos-disposicao {
    border-bottom: 2px solid var(--cor0);
    padding: 30px 0 0 0;
    margin-top: 30px;
    width: 380px;
    font-size: 26px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.swiper {
    /*section*/
    width: 90vw;
    padding: 30px;
    transition: transform 0.5s, border 0.4s;
    overflow: hidden;
}

.servicos-disposicao {
    /*conteudo servicos a disposicao*/
    font-size: 18px;
    background-color: #38776981;
    height: auto;
    border-radius: 40px;
    padding: 10px 0;
    margin: 0px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.637);
    cursor: grab;
}

.servicos-disposicao:active {
    cursor: grabbing;
}

.servicos-disposicao>h3 {
    padding: 20px 20px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.servicos-disposicao>li {
    text-indent: 20px;
    padding: 0 20px 10px;
    text-align: justify;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

/* slide de serviços fim */

@keyframes slide {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-2040px);
    }
}

#clientes {
    display: grid;
    place-content: center;
    width: 100vw;

}

#clientes h1 {
    border-bottom: 2px solid var(--cor0);
    padding: 30px 0 0 0;
    margin-top: 40px;
    width: 380px;
    font-size: 26px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#clientes li {
    list-style: none;
}

#logos {
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

#logos ul {
    display: flex;
    align-items: center;
    gap: 60px;
    animation: 20s infinite slide linear;
}

#logos img {
    width: 120px;
    margin: 20px;
}


#nosso-time {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 50px 0 0px 0px;
    background-image: url(../imagens/fundos/site/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}

#nosso-time>h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 30px 10px 0;
    margin-bottom: 50px;
    text-indent: 0;
    border-bottom: 5px outset rgb(226, 230, 30);
}

#nosso-time>h1,
h2,
p {
    color: white;
}

.perfil {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    padding: 20px;
    margin: 10px;
}

.perfil>img {
    height: 200px;
    width: 200px;
    margin: auto;
}

.perfil:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #738754, rgba(255, 255, 255, 0));
    height: fit-content;
}

.perfil>img:hover {
    border: 3px solid white;
    border-radius: 120px;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform 2.0s, border 0.2s;
    cursor: pointer;
    height: 240px;
    width: 240px;
}

#descricao,
#d2,
#d3 {
    display: none;
    color: white;
}

footer {
    margin-top: 150px;
    background: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100vw;
}

#logo-footer {
    width: 300px;
    padding: 10px;
}

footer>a {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    padding: 10px 20px;
}

.contato {
    text-indent: 0px;
    padding: 5px 0px;
    color: white;
}

footer>a>img {
    /* corrigir tamanho da img*/
    height: 30px;
    width: 30px;
    padding: 0px 3px;
}

footer>div {
    display: flex;
    flex-flow: column wrap;
    margin: 0 10px 20px 0;
    padding: 0 0 0 25px;
}

#img-telefone {
    margin-right: 5px;
    height: 25px;
}

#p-telefone {
    text-indent: 30px;

}

footer>a>img:hover,
.contato:hover {
    filter: invert(54%) sepia(15%) saturate(1787%) hue-rotate(357deg) brightness(104%) contrast(88%);
    /*  filter:brightness(0) saturate(100%) invert(52%) sepia(21%) saturate(601%) hue-rotate(42deg) brightness(92%) contrast(94%)*/
}

/* css das animaçoes */

[data-anime] {
    opacity: 0;
    transition: 3.5s;
}

[data-anime="left"] {
    transform: translate3d(-1200px, -150px, 0px);
}

[data-anime="right"] {
    transform: translate3d(1000px, 150px, 0px);
}

[data-anime="up"] {
    transform: translate3d(1000px, -600px, 0px);
}

[data-anime="down"] {
    transform: translate3d(-1000px, 200px, 0px);
}

[data-anime="nosso-time"] {
    transform: translate3d(-500px, 0px, 0);
    transition: 5s;
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

