:root {
    --cor0: #023138;
    --cor1: #FEF9A5;
    --cor2: #BCA15D;
    --cor3: #C58C33;
    --cor4: #F5EDE1;

}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*inserir envolve sans*/
    color: var(--cor0);
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: var(--cor0);
}


p,
li {
    text-indent: 30px;
    text-align: justify;
    padding: 0 30px;
    font-size: 1em;
    line-height: 1.6em;
}

h1,
h2 {
    text-indent: 30px;
    padding: 30px 0 30px 30px;
}

a {
    text-decoration: none;
}

#burguer {
    background-color: rgba(0, 0, 0, 0.068);
    color: var(--cor0);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

#burguer>img {
    height: 25px;
    width: 25px;
    padding: 4px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* position: sticky;  menu fixo no top */
    top: 0;
    padding: 10px 10px;
    width: 100vw;
}

header>img {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 45px;
    width: 240px;
    margin-left: 10px;
    border-right: 1px solid var(--cor0);
}

header>nav {
    margin: 10px auto 0px;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.027);
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 10px;
    color: var(--cor0);
}

header>nav>a {
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    border-radius: 15px;
    padding: 12px;
    transition-duration: 0.3s;
}

nav>a:hover {
    background-color: var(--cor0);
    color: var(--cor2);
    border-radius: 10px;
}

#quem-somos {
    max-width: 1280px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: var(--cor0);
    padding-bottom: 20px;
}

#quem-somos>img {
    margin: auto;
    height: 250px;
    width: 450px;
}

#quem-somos>h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 40px 0 0px 30px;
    color: var(--cor2);
    border-bottom: 3px solid var(--cor2);
    min-width: 280px;
}

#quem-somos>p {
    color: var(--cor2);
    padding: 20px;
    margin: 0 30px;
    font-size: 24px;
}

/* slide de serviços */

.swiper {
    /*section*/
    width: 90vw;
    padding: 30px 50px;
    transition: transform 0.5s, border 0.4s;
}

.swiper-slide {
    /*conteudo servicos a disposicao*/
    font-size: 18px;
    background-color: var(--cor4);
    height: auto;
    border-radius: 40px;
    padding: 10px 0;
    margin: 0px;
    height: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.637);
    cursor: grab;
}

.swiper-slide:active {
    cursor: grabbing;
}

.swiper-slide>h3 {
    padding: 20px 20px;
    text-align: center;
}

.swiper-slide>li {
    text-indent: 20px;
    padding: 0 20px 10px;
    text-align: justify;
}

/* slide de serviços fim */

#clientes {
    display: grid;
    place-content: center;
    width: 100vw;
}

#clientes h1 {
    border-bottom: 2px solid var(--cor0);
    padding-bottom: 0;
    max-width: 460px;
}

#clientes li {
    list-style: none;
}

#logos {
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

#logos ul {
    display: flex;
    align-items: center;
    gap: 60px;
    animation: 20s infinite slide linear;
}

#logos img {
    width: 150px;
    margin: 20px;
}

@keyframes slide {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-2040px);
    }
}

#slider {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected {
    opacity: 1;
}

#nosso-time {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 50px 0 0px 0px;
    background-image: url(../imagens/fundos/site/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}

#nosso-time>h1,
h2,
p {
    color: white;
}

.perfil {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 350px;
    padding: 20px;
    margin: 10px;
}

.perfil>img {
    height: 200px;
    width: 200px;
    margin: auto;
}

.perfil>img:hover {
    border: 3px solid white;
    border-radius: 120px;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform 0.5s, border 0.2s;
    cursor: pointer;
}

#descricao,
#d2,
#d3 {
    display: none;
}

footer {
    margin-top: 150px;
    background: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
    width: 100vw;
}

#logo-footer {
    width: 300px;
    padding: 10px;
}

footer>a {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    padding: 10px 20px;
}

.contato {
    text-indent: 0px;
    padding: 5px 0px;
    color: white;
}

footer>a>img {
    /* corrigir tamanho da img*/
    height: 30px;
    width: 30px;
    padding: 0px 3px;
}

footer>div {
    display: flex;
    flex-flow: column wrap;
    margin-right: 10px;
    padding: 0 0 0 25px;
}

#img-telefone {
    margin-right: 5px;
    height: 25px;
}

#p-telefone {
    text-indent: 30px;
}

footer>a>img:hover,
.contato:hover {
    filter: invert(54%) sepia(15%) saturate(1787%) hue-rotate(357deg) brightness(104%) contrast(88%);
}