@media screen and (min-width: 768px) and (max-width: 992px) { 
    header > nav {
        background-color: rgba(0, 0, 0, 0.027);
        border-radius: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end; 
        padding: 10px;
        color: var(--cor0);
    }
    header > nav > a {     /* corrigir texto esta em duas linhas, e colocar o texto para right */
        display: flex;
        text-decoration: none;
        font-weight: bold;
        align-items: center; 
        padding: 12px 35vw;
        margin: 5px;
        border-radius: 15px;
        transition-duration: 0.5s;
    }
    
    nav > a:hover {
        background-color:var(--cor0);
        color: var(--cor2);
        border-radius: 10px;
    }
}
@media screen and (min-width: 992px) {
    header > img {
        margin-left: 10vw;
    }
   header > nav {
        display: block; 
        display: flex;
        margin-right: 10vw;
        background-color: white; 
    }
    header > nav > a {     
       text-decoration: none;
       color: var(--cor0);
       font-weight: bold;
       align-items: center;
       padding: 10px;
       transition-duration: 0.5s;
   }
    #burguer {
        display: none;
    }

    #quem-somos {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }

    #quem-somos > p {
        padding: 20px;
        margin: 0 100px;
    }

    section {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .servicos-disposicao {
        height: 370px; /* alterar talvez retirar*/
    }

    #nosso-time {
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left:0px;
        padding: 30px;
        background-image: url(imagens/fundos/07.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center left; /*opcional*/     
    }

    #nosso-time > h1 {
        margin-right: 700px; /* corrigir*/
    }

    #nosso-time > h1, h2, p {
        color: white;
    }
    .perfil {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.377);    
        color: rgba(255, 255, 255, 0);
    }

 }
 